@model EmployeeViewModel

<div class="Container">
    <h3> @ViewData["Title"]</h3>
    <table class="table">
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>

        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Salary</th>
            <td>@Model.Salary</td>
        </tr>
        <tr>
            <th>Department Name</th>
            <td>@Model.DepartmentName</td>
        </tr>

    </table>

</div>