@using Microdev.ASPNETCore.ViewModels;
@model List<EmployeeViewModel>

@{
    Layout = "_Layout";
}

<div class="Container">
    <h3>@ViewData["Title"] </h3>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Department Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Salary</td>
                <td>@item.DepartmentName</td>
            </tr>
        }
    </table>
    @section Footer {
        <div class="bg-dark text-white">
            © 2019 Microdev.ir. All Rights Reserved.
        </div>
    }
</div>
